body {
  font-family: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

span,
p,
time {
  font-size: 1rem;
}

ul {
  list-style: none;
}

li,
a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  span,
  p,
  time {
    font-size: 1.125rem;
  }
}